@model ScavengerHunt.Models.Quest
<div class ="jumbotron">
<h4>Add a new Quest</h4>
</div>
@using (Html.BeginForm())
{
    <div class ="headline">
        
           <h5>Name your Quest</h5>
            @Html.TextBoxFor(model => model.Name)
            <br>
            <h5>What should the rules be?</h5>
            @Html.TextAreaFor(model => model.QuestRules)
            <br>
            <h5>Select Items to search for</h5>            
            @Html.DropDownList("ItemId")
            @Html.DropDownList("ItemId", string.Empty)
            @Html.DropDownList("ItemId", string.Empty)
            @Html.DropDownList("ItemId", string.Empty)
            @Html.DropDownList("ItemId", string.Empty)
            <br>
            
        
    <input type="submit" value="Add new item" class="btn default" />
    <br>
    <p>@Html.ActionLink("Show all Quest", "Index")</p>
    </div>
    

   
   
}