@using System.Collections.Generic;
@using ScavengerHunt.Models;
@model ScavengerHunt.Models.Quest;



<div class ="header">
  <h1>@Html.DisplayFor(model => model.Name)</h1>
</div>

<hr />


<div class ="column.middle">
  <h3>Quest rules:<br> @Html.DisplayFor(model => model.QuestRules)</h3><hr/>

    @if(@Model.Item.Count == 0)
  {
    <p>This quest does not have any items associated with it</p>
  }
  else
  {
    <h4>To complete this quest:</h4>
     <div class = "row">
        @foreach(var join in Model.Item)
        {
            <div id="quest-items" class = "col-md-3">
              <h4>@join.Item.ItemRules</h4>
              <input type="checkbox" class="checkbox">
              @using (Html.BeginForm("DeleteItem", "Quests"))
              {
              @* @Html.Hidden("joinId", @join.QuestItemId) 
                <button class="player-button"><input type="submit" value="Delete" class="btn btn-default"/></button> *@
              }
            </div>
        }<br>
      </div>
  }

  
  

</div>
<div class ="column.side">
<p>@Html.ActionLink("Back to quests", "Index")</p>

@*<p>@Html.ActionLink("Delete Quest", "Delete", new { id = Model.QuestId })</p>

<p>@Html.ActionLink("Add an Item", "AddItems", "Quests")</p>*@


</div>