@using System.Collections.Generic;
@using ScavengerHunt.Models;
@model ScavengerHunt.Models.Quest;



<div class ="header">
  <h1>@Html.DisplayFor(model => model.Name)</h1>
</div>

<hr />


<div class ="column.middle">
  <h3>Quest rules:<br> @Html.DisplayFor(model => model.QuestRules)</h3><hr/>

    @if(@Model.Item.Count == 0)
  {
    <p>This quest does not have any items associated with it</p>
  }
  else
  {
    <h4>To complete this quest:</h4>
     <div class = "row">
        @foreach(var join in Model.Item)
        {
            <div id="quest-items" class = "col-md-3">
              <h4>@join.Item.ItemRules</h4>
              <input type="checkbox" class="checkbox">
              @using (Html.BeginForm("DeleteItem", "Quests"))
              {
              @* @Html.Hidden("joinId", @join.QuestItemId) 
                <button class="player-button"><input type="submit" value="Delete" class="btn btn-default"/></button> *@
              }
            </div>
        }<br>
      </div>
  }
</div>
  
<p>@Html.ActionLink("Back to quests", "Index")</p>

<div class= "googlemap">
<br>


  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="~/style.css">


  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="display-4">My Map</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="map"></div>
      </div>
    </div>
  </div>
 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  
  <script src="script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsGSZApvtm21DeBQgMJM4-6uyTKYszwaM&callback=createMap" async defer></script>


<script>
var map, infoWindow;

function createMap () {
  var options = {
    center: { lat:  45.5206 , lng: -122.6774 },
    zoom: 17
  };

  map = new google.maps.Map(document.getElementById('map'), options);
  infoWindow = new google.maps.InfoWindow;


  if (navigator.geolocation) {
    var mylatlong = navigator.geolocation.getCurrentPosition(function (p) {
      var position = {
        lat: p.coords.latitude,
        lng: p.coords.longitude
      };
      
      infoWindow.setPosition(position);
      infoWindow.setContent("Hello Player"); 
      infoWindow.open(map);
      map.setCenter(position); 

    }, function () {
      handleLocationError('Geolocation service failed', map.getCenter());
    });
  } else {
    handleLocationError('No geolocation available.', map.getCenter());
  }
var marker = new google.maps.Marker({
    position: { lat:  45.5206 , lng: -122.6774 },
    map: map,            
    draggable: true,
    title: "Rawr!"
});

}

function handleLocationError (content, position) {
  infoWindow.setPosition(position);
  infoWindow.setContent(content);
  infoWindow.open(map);
}



</script>


 </div>

@*<p>@Html.ActionLink("Delete Quest", "Delete", new { id = Model.QuestId })</p>

<p>@Html.ActionLink("Add an Item", "AddItems", "Quests")</p>*@


