@using System.Collections.Generic;
@using ScavengerHunt.Models;
@model ScavengerHunt.Models.Quest;

<div class ="jumbotron">

<h2>Quest Rules</h2>
</div>
<hr />
<div class ="header">
  <h3>@Html.DisplayFor(model => model.Name)</h3>
</div>

<div class ="column.middle">
  <h3>@Html.DisplayNameFor(model => model.QuestRules): @Html.DisplayFor(model => model.QuestRules)</h3>

    @if(@Model.Item.Count == 0)
  {
    <p>This quest does not have any Items associated to it</p>
  }
  else
  {

    <h4>Items for this quest to:</h4>
    
    @foreach(var join in Model.Item)
    {
      <li class="font-weight-bold">@join.Item.ItemName</li>
      @using (Html.BeginForm("DeleteItem", "Quests"))
      {
        @Html.Hidden("joinId", @join.QuestItemId) 
        <input type="submit" value="Delete" class="btn default"/>
      }
    }
    
  }

  
  

</div>
<div class ="column.side">
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Quest", "Edit", new { id = Model.QuestId })</p>
<p>@Html.ActionLink("Delete Quest", "Delete", new { id = Model.QuestId })</p>
<p>@Html.ActionLink("Add a Tag", "AddTag", new { id = Model.QuestId })</p>
<p>@Html.ActionLink("Add an Item", "AddItem", new { id = Model.QuestId})</p>


</div>